In [ ]:
#Terry starter workbook file

In [1]:
#load dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np
from prophet import Prophet

In [9]:
#first block of effective code
#setup and import data files for use
csiq = Path('data/CSIQ.csv')
# dq = Path('data/DQ.csv')
# enph = Path('data/ENPH.csv')
# fslr = Path('data/FSLR.csv')
# jks = Path('data/JKS.csv')
# sedg = Path('data/SEDG.csv')
# spwr = Path('data/SPWR.csv')
#read in data for use
csiq_read = pd.read_csv(csiq, index_col = 'Date')
# dq_read = pd.read_csv(dq, index_col = 'Date')
#format for concat later
# csiq_read.rename(columns= {'Close': 'CSIQ'}, inplace= True)
# dq_read.rename(columns= {'Close': 'DQ'}, inplace= True)

In [11]:
# csiq_read['Date'] = pd.to_datetime(csiq_read['Date'])
csiq_read['Date'] = pd.to_datetime(csiq_read.index)
csiq_read.info()
csiq_read.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1075 entries, 2020-01-02 to 2024-04-10
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1075 non-null   float64
 1   High       1075 non-null   float64
 2   Low        1075 non-null   float64
 3   Close      1075 non-null   float64
 4   Adj Close  1075 non-null   float64
 5   Volume     1075 non-null   int64
 6   Date       1075 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 67.2+ KB

,Open,High,Low,Close,Adj Close,Volume,Date
Date,,,,,,,
2020-01-02,22.360001,22.540001,22.040001,22.520000,22.520000,643300,2020-01-02
2020-01-03,22.190001,22.440001,21.590000,21.799999,21.799999,809600,2020-01-03
2020-01-06,21.309999,22.330000,21.100000,22.320000,22.320000,938000,2020-01-06
2020-01-07,22.290001,22.600000,22.219999,22.360001,22.360001,596900,2020-01-07
2020-01-08,22.370001,22.709999,22.110001,22.570000,22.570000,709800,2020-01-08

In [4]:
display(csiq_read.info())
display(dq_read.info())
display(csiq_read.head())
display(dq_read.head())

<class 'pandas.core.frame.DataFrame'>
Index: 1075 entries, 2020-01-02 to 2024-04-10
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1075 non-null   float64
 1   High       1075 non-null   float64
 2   Low        1075 non-null   float64
 3   CSIQ       1075 non-null   float64
 4   Adj Close  1075 non-null   float64
 5   Volume     1075 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 58.8+ KB

None

<class 'pandas.core.frame.DataFrame'>
Index: 1075 entries, 2020-01-02 to 2024-04-10
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1075 non-null   float64
 1   High       1075 non-null   float64
 2   Low        1075 non-null   float64
 3   DQ         1075 non-null   float64
 4   Adj Close  1075 non-null   float64
 5   Volume     1075 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 58.8+ KB

None

                 Open       High        Low       CSIQ  Adj Close  Volume
Date
2020-01-02  22.360001  22.540001  22.040001  22.520000  22.520000  643300
2020-01-03  22.190001  22.440001  21.590000  21.799999  21.799999  809600
2020-01-06  21.309999  22.330000  21.100000  22.320000  22.320000  938000
2020-01-07  22.290001  22.600000  22.219999  22.360001  22.360001  596900
2020-01-08  22.370001  22.709999  22.110001  22.570000  22.570000  709800

              Open    High     Low      DQ  Adj Close   Volume
Date
2020-01-02  10.240  11.032  10.240  10.996     10.996  1278000
2020-01-03  10.956  11.102  10.810  10.890     10.890   879500
2020-01-06  10.838  10.840  10.502  10.770     10.770   621000
2020-01-07  10.698  10.834  10.560  10.672     10.672   475500
2020-01-08  10.682  10.932  10.682  10.876     10.876   773500

In [ ]:
# combine_df = dq_data.merge(cisq_data, on=['Date'], how= 'outer')
# combine_df.head()

In [ ]:
#prediction model
cisq_prophet_df = cisq_read[['Date', 'CISQ']]
cisq_prophet_df = cisq_prophet_df.rename(columns= {'Date': 'ds', 'CISQ': 'y'})
test_model = Prophet()
test_model.fit(cisq_prophet_df)
future_cisq_trends = test_model.make_future_dataframe(periods = 4300, freq = 'H')
forecast_cisq_trends = test_model.predict(future_cisq_trends)
cisq_predictions_df = test_model.plot(forecast_cisq_trends)